///
/// Split Screen by HTML5 UP
/// html5up.net | @n33co
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		@include vendor('appearance', 'none');
		@include vendor('transition', (
			'background-color #{_duration(transition)} ease-in-out',
			'box-shadow #{_duration(transition)} ease-in-out',
			'color #{_duration(transition)} ease-in-out'
		));
		background-color: transparent;
		border-radius: _size(border-radius);
		border: 0;
		box-shadow: inset 0 0 0 2px _palette(border);
		color: _palette(fg-bold) !important;
		cursor: pointer;
		display: inline-block;
		font-weight: _font(weight-bold);
		height: 2.75em;
		line-height: 2.75em;
		padding: 0 2em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;

		&.icon {
			padding-left: 1.35em;

			&:before {
				margin-right: 0.5em;
			}
		}

		&.fit {
			display: block;
			margin: 0 0 (_size(element-margin) * 0.5) 0;
			width: 100%;
		}

		&.small {
			font-size: 0.8em;
		}

		&:hover {
			box-shadow: inset 0 0 0 2px _palette(accent, bg);

			&:active {
				background-color: transparentize(_palette(accent, bg), 0.9);
			}
		}

		&.special {
			background-color: _palette(accent, bg);
			box-shadow: none;
			color: _palette(accent, fg-bold) !important;

			&:hover {
				background-color: lighten(_palette(accent, bg), 5);
			}

			&:active {
				background-color: darken(_palette(accent, bg), 5);
			}
		}

		&.disabled,
		&:disabled {
			opacity: 0.25;
		}

		&.ignition {
			width: 10em !important;
		}

		@include breakpoint(xsmall) {
			padding: 0;
		}
	}
