///
/// Split Screen by HTML5 UP
/// html5up.net | @n33co
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Type */

	body, input, select, textarea {
		color: _palette(fg);
		font-family: _font(family);
		font-size: 18pt;
		font-weight: _font(weight);
		letter-spacing: -0.01em;
		line-height: 1.65;

		@include breakpoint(xlarge) {
			font-size: 14pt;
		}

		@include breakpoint(large) {
			font-size: 12pt;
		}

		@include breakpoint(small) {
			font-size: 10pt;
		}
	}

	a {
		@include vendor('transition', (
			'color #{_duration(transition)} ease-in-out',
			'border-bottom-color #{_duration(transition)} ease-in-out'
		));
		color: _palette(accent, bg);
		border-bottom: none;
		text-decoration: none;

		&:hover {
			border-bottom-color: _palette(accent, bg);
			color: _palette(accent, bg) !important;
		}

		&:active, &:active * {
			outline: none !important;
			-moz-outline-style: none !important;
		}

		&:focus, &:focus * {
			outline: none !important;
			-moz-outline-style: none !important;
		}
	}

	strong, b {
		color: _palette(fg-bold);
		font-weight: _font(weight-extrabold);
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 _size(element-margin) 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: _palette(fg-bold);
		font-weight: _font(weight-bold);
		letter-spacing: -0.05em;
		line-height: 1.6;
		margin: 0 0 (_size(element-margin) * 0.4) 0;

		a {
			color: inherit;
			text-decoration: none;
		}
	}

	h1 {
		font-weight: _font(weight);
		margin: 0 0 (_size(element-margin) * 0.85) 0;
		font-size: 1.5em;

		b {
			font-weight: _font(weight-extrabold);
		}
	}

	h2 {
		font-family: _font(family-title);
		font-weight: bold;
		font-size: 2em;
	}

	h3 {
		font-size: 1.35em;
	}

	h4 {
		font-size: 1.1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	@include breakpoint(medium) {
		h1, h2, h3, h4, h5, h6 {
			br {
				display: none;
			}
		}
	}

	@include breakpoint(small) {
		h1, h2, h3, h4, h5, h6 {
			margin: 0 0 (_size(element-margin) * 0.5) 0;
		}

		h2 {
			font-size: 2em;
		}
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px _palette(border);
		font-style: italic;
		margin: 0 0 _size(element-margin) 0;
		padding: (_size(element-margin) / 4) 0 (_size(element-margin) / 4) _size(element-margin);
	}

	code {
		border-radius: _size(border-radius);
		border: solid 2px _palette(border);
		font-family: _font(family-fixed);
		font-size: 0.9em;
	}

	hr {
		width: 50%;
		border: 0;
		border-bottom: solid 2px _palette(border);
		margin: (_size(element-margin) * 1.25) 0;

		&.major {
			margin: (_size(element-margin) * 1.75) 0;
		}
	}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}
