/*
	Split Screen by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  position: relative;
  -ms-behavior: url("assets/js/ie/PIE.htc"); }

/* Banner */
#banner {
  width: 35%; }
  #banner ul:after {
    display: none; }
  #banner .content:before {
    background-color: #f7f7f7; }
  #banner .content:after {
    background-color: #f7f7f7; }

/* Wrapper */
#wrapper {
  left: 35%; }

/*# sourceMappingURL=ie8.css.map */
