/*
	Split Screen by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Banner */
#banner {
  padding: 4em 0 2em 0 ;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0; }
  #banner .inner:before, #banner .inner:after {
    display: none; }

/* Wrapper */
#wrapper {
  position: absolute;
  top: 0;
  left: 35vw; }

/*# sourceMappingURL=ie9.css.map */
