@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Quicksand|Raleway:400,600,700");
/*
	Split Screen by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Basic */
@-ms-viewport {
  width: device-width; }
@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px; } }
body {
  background: #ffffff; }
  body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important; }

/* Type */
body, input, select, textarea {
  color: #3b3b3b;
  font-family: "Quicksand", sans-serif;
  font-size: 18pt;
  font-weight: 300;
  letter-spacing: -0.01em;
  line-height: 1.65; }
  @media screen and (max-width: 1680px) {
    body, input, select, textarea {
      font-size: 14pt; } }
  @media screen and (max-width: 1280px) {
    body, input, select, textarea {
      font-size: 12pt; } }
  @media screen and (max-width: 736px) {
    body, input, select, textarea {
      font-size: 10pt; } }

a {
  -moz-transition: color 0.5s ease-in-out, border-bottom-color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out, border-bottom-color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out, border-bottom-color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out, border-bottom-color 0.5s ease-in-out;
  color: #000000;
  border-bottom: none;
  text-decoration: none; }
  a:hover {
    border-bottom-color: #000000;
    color: #000000 !important; }
  a:active, a:active * {
    outline: none !important;
    -moz-outline-style: none !important; }
  a:focus, a:focus * {
    outline: none !important;
    -moz-outline-style: none !important; }

strong, b {
  color: #333333;
  font-weight: 900; }

em, i {
  font-style: italic; }

p {
  margin: 0 0 2em 0; }

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: 400;
  letter-spacing: -0.05em;
  line-height: 1.6;
  margin: 0 0 0.8em 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none; }

h1 {
  font-weight: 300;
  margin: 0 0 1.7em 0;
  font-size: 1.5em; }
  h1 b {
    font-weight: 900; }

h2 {
  font-weight: bold;
  font-size: 2em; }

h3 {
  font-size: 1.35em; }

h4 {
  font-size: 1.1em; }

h5 {
  font-size: 0.9em; }

h6 {
  font-size: 0.7em; }

@media screen and (max-width: 980px) {
  h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
    display: none; } }
@media screen and (max-width: 736px) {
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1em 0; }

  h2 {
    font-size: 2em; } }
sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em; }

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em; }

blockquote {
  border-left: solid 4px #e6e8eb;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em; }

code {
  border-radius: 4px;
  border: solid 2px #e6e8eb;
  font-family: "Courier New", monospace;
  font-size: 0.9em; }

hr {
  width: 50%;
  border: 0;
  border-bottom: solid 2px #e6e8eb;
  margin: 2.5em 0; }
  hr.major {
    margin: 3.5em 0; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

/* Form */
form {
  margin: 0 0 2em 0; }
  form > .field {
    margin: 0 0 1em 0; }
    form > .field > :last-child {
      margin-bottom: 0; }

label {
  color: #333333;
  display: block;
  font-size: 0.9em;
  font-weight: 400;
  margin: 0 0 0.7em 0; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: none;
  border: solid 2px #e6e8eb;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 0.75em;
  text-decoration: none;
  width: 100%; }
  input[type="text"]:invalid,
  input[type="password"]:invalid,
  input[type="email"]:invalid,
  input[type="tel"]:invalid,
  select:invalid,
  textarea:invalid {
    box-shadow: none; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  select:focus,
  textarea:focus {
    border-color: #000000; }

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative; }
  .select-wrapper:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .select-wrapper:before {
    color: #e6e8eb;
    content: '\f078';
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 2.75em; }
  .select-wrapper select::-ms-expand {
    display: none; }

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 2.75em; }

textarea {
  padding: 0.75em 1em; }

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    text-decoration: none;
    color: #3b3b3b;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      border-radius: 4px;
      border: solid 2px #e6e8eb;
      content: '';
      display: inline-block;
      height: 1.65em;
      left: 0;
      line-height: 1.58125em;
      position: absolute;
      text-align: center;
      top: 0;
      width: 1.65em; }
  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    background: #333333;
    border-color: #333333;
    color: #ffffff;
    content: '\f00c'; }
  input[type="checkbox"]:focus + label:before,
  input[type="radio"]:focus + label:before {
    border-color: #000000; }

input[type="checkbox"] + label:before {
  border-radius: 4px; }

input[type="radio"] + label:before {
  border-radius: 100%; }

.number {
  border: 0.5;
  height: 1.75em; }
  .number.short {
    width: 3em; }
  .number.long {
    width: 5em; }

::-webkit-input-placeholder {
  color: #6f6f6f !important;
  opacity: 1.0; }

:-moz-placeholder {
  color: #6f6f6f !important;
  opacity: 1.0; }

::-moz-placeholder {
  color: #6f6f6f !important;
  opacity: 1.0; }

:-ms-input-placeholder {
  color: #6f6f6f !important;
  opacity: 1.0; }

.polyfill-placeholder {
  color: #6f6f6f !important;
  opacity: 1.0; }

/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  color: inherit;
  position: relative; }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important; }
  .icon > .label {
    display: none; }

/* List */
ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em; }
  ol li {
    padding-left: 0.25em; }

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em; }
  ul li {
    padding-left: 0.5em; }
  ul.alt {
    list-style: none;
    padding-left: 0; }
    ul.alt li {
      border-top: solid 1px #e6e8eb;
      padding: 0.5em 0; }
      ul.alt li:first-child {
        border-top: 0;
        padding-top: 0; }
  ul.icons {
    cursor: default;
    color: #3b3b3b;
    list-style: none;
    padding-left: 0; }
    ul.icons li {
      display: inline-block;
      padding: 0 1em 0 0; }
      ul.icons li:last-child {
        padding-right: 0; }
      ul.icons li .icon:before {
        font-size: 1em; }
        @media screen and (max-width: 736px) {
          ul.icons li .icon:before {
            font-size: 1.25em; } }
  ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0; }
    ul.actions li {
      display: inline-block;
      padding: 0 1em 0 0;
      vertical-align: middle; }
      ul.actions li:last-child {
        padding-right: 0; }
    ul.actions.small li {
      padding: 0 0.5em 0 0; }
    ul.actions.vertical li {
      display: block;
      padding: 1em 0 0 0; }
      ul.actions.vertical li:first-child {
        padding-top: 0; }
      ul.actions.vertical li > * {
        margin-bottom: 0; }
    ul.actions.vertical.small li {
      padding: 0.5em 0 0 0; }
      ul.actions.vertical.small li:first-child {
        padding-top: 0; }
    ul.actions.fit {
      display: table;
      margin-left: -1em;
      padding: 0;
      table-layout: fixed;
      width: calc(100% + 1em); }
      ul.actions.fit li {
        display: table-cell;
        padding: 0 0 0 1em; }
        ul.actions.fit li > * {
          margin-bottom: 0; }
      ul.actions.fit.small {
        margin-left: -0.5em;
        width: calc(100% + 0.5em); }
        ul.actions.fit.small li {
          padding: 0 0 0 0.5em; }
    @media screen and (max-width: 480px) {
      ul.actions {
        margin: 0 0 2em 0; }
        ul.actions li {
          display: block;
          padding: 1em 0 0 0;
          text-align: center;
          width: 100%; }
          ul.actions li:first-child {
            padding-top: 0; }
          ul.actions li > * {
            margin: 0 !important;
            width: 100%; }
            ul.actions li > *.icon:before {
              margin-left: -1.75em; }
        ul.actions.small li {
          padding: 0.5em 0 0 0; }
          ul.actions.small li:first-child {
            padding-top: 0; } }

dl {
  margin: 0 0 2em 0; }
  dl dt {
    display: block;
    font-weight: 400;
    margin: 0 0 1em 0; }
  dl dd {
    margin-left: 2em; }

/* Table */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto; }

table {
  margin: 0 0 2em 0;
  width: 100%; }
  table tbody tr {
    border: solid 1px #e6e8eb;
    border-left: 0;
    border-right: 0; }
    table tbody tr:nth-child(2n + 1) {
      background-color: rgba(144, 144, 144, 0.075); }
  table td {
    padding: 0.75em 0.75em; }
  table th {
    color: #333333;
    font-size: 0.9em;
    font-weight: 400;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left; }
  table thead {
    border-bottom: solid 2px #e6e8eb; }
  table tfoot {
    border-top: solid 2px #e6e8eb; }
  table.alt {
    border-collapse: separate; }
    table.alt tbody tr td {
      border: solid 1px #e6e8eb;
      border-left-width: 0;
      border-top-width: 0; }
      table.alt tbody tr td:first-child {
        border-left-width: 1px; }
    table.alt tbody tr:first-child td {
      border-top-width: 1px; }
    table.alt thead {
      border-bottom: 0; }
    table.alt tfoot {
      border-top: 0; }

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
  background-color: transparent;
  border-radius: 4px;
  border: 0;
  box-shadow: inset 0 0 0 2px #e6e8eb;
  color: #333333 !important;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 2.75em;
  line-height: 2.75em;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap; }
  input[type="submit"].icon,
  input[type="reset"].icon,
  input[type="button"].icon,
  button.icon,
  .button.icon {
    padding-left: 1.35em; }
    input[type="submit"].icon:before,
    input[type="reset"].icon:before,
    input[type="button"].icon:before,
    button.icon:before,
    .button.icon:before {
      margin-right: 0.5em; }
  input[type="submit"].fit,
  input[type="reset"].fit,
  input[type="button"].fit,
  button.fit,
  .button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%; }
  input[type="submit"].small,
  input[type="reset"].small,
  input[type="button"].small,
  button.small,
  .button.small {
    font-size: 0.8em; }
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  button:hover,
  .button:hover {
    box-shadow: inset 0 0 0 2px #000000; }
    input[type="submit"]:hover:active,
    input[type="reset"]:hover:active,
    input[type="button"]:hover:active,
    button:hover:active,
    .button:hover:active {
      background-color: rgba(0, 0, 0, 0.1); }
  input[type="submit"].special,
  input[type="reset"].special,
  input[type="button"].special,
  button.special,
  .button.special {
    background-color: #000000;
    box-shadow: none;
    color: #ffffff !important; }
    input[type="submit"].special:hover,
    input[type="reset"].special:hover,
    input[type="button"].special:hover,
    button.special:hover,
    .button.special:hover {
      background-color: #0d0d0d; }
    input[type="submit"].special:active,
    input[type="reset"].special:active,
    input[type="button"].special:active,
    button.special:active,
    .button.special:active {
      background-color: black; }
  input[type="submit"].disabled, input[type="submit"]:disabled,
  input[type="reset"].disabled,
  input[type="reset"]:disabled,
  input[type="button"].disabled,
  input[type="button"]:disabled,
  button.disabled,
  button:disabled,
  .button.disabled,
  .button:disabled {
    opacity: 0.25; }
  input[type="submit"].ignition,
  input[type="reset"].ignition,
  input[type="button"].ignition,
  button.ignition,
  .button.ignition {
    width: 10em !important; }
  @media screen and (max-width: 480px) {
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
      padding: 0; } }

/* Page Wrapper */
#page-wrapper {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -moz-align-items: stretch;
  -webkit-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  min-height: 100vh; }
  body.is-ie #page-wrapper {
    height: 100vh; }
  @media screen and (max-width: 980px) {
    body.is-ie #page-wrapper {
      height: auto; } }
  @media screen and (orientation: portrait) {
    #page-wrapper {
      -moz-flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      height: auto !important;
      min-height: 0 !important; } }

/* Wrapper */
#wrapper {
  padding: 3em 4em 1em 4em ;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  width: 70vw; }
  #wrapper .inner {
    max-width: 60em; }
    #wrapper .inner h1 .logo {
      height: 0.65em;
      vertical-align: baseline; }
    #wrapper .inner .advancedSwitch {
      -moz-transition: color 0.5s ease-in-out, border-bottom-color 0.5s ease-in-out;
      -webkit-transition: color 0.5s ease-in-out, border-bottom-color 0.5s ease-in-out;
      -ms-transition: color 0.5s ease-in-out, border-bottom-color 0.5s ease-in-out;
      transition: color 0.5s ease-in-out, border-bottom-color 0.5s ease-in-out;
      width: 50%;
      font-weight: bold;
      color: #6f6f6f;
      cursor: pointer; }
      #wrapper .inner .advancedSwitch:hover {
        -moz-transition: color 0.5s ease-in-out, border-bottom-color 0.5s ease-in-out;
        -webkit-transition: color 0.5s ease-in-out, border-bottom-color 0.5s ease-in-out;
        -ms-transition: color 0.5s ease-in-out, border-bottom-color 0.5s ease-in-out;
        transition: color 0.5s ease-in-out, border-bottom-color 0.5s ease-in-out;
        color: #333333; }
    #wrapper .inner .advanceArrow {
      line-height: 1.5em;
      float: right !important; }
    #wrapper .inner .shell {
      background-color: #3b3b3b;
      border-radius: 4px;
      margin-top: 2em;
      padding: 0 1.5em;
      font-size: 0.8em;
      overflow-wrap: anywhere;
      color: white;
      font-family: "Courier New", monospace;
      height: 20em;
      max-height: 20em !important;
      width: 55vw;
      overflow: scroll; }
      #wrapper .inner .shell strong {
        font-weight: 900;
        color: #f7f7f7; }
    #wrapper .inner .hide {
      display: none !important; }
    #wrapper .inner .show {
      display: block !important; }
  #wrapper footer {
    padding-bottom: 2em;
    color: #6f6f6f; }
    #wrapper footer ul {
      margin: 0; }
  #wrapper > * {
    -moz-transition: opacity 1s ease, -moz-transform 1s ease;
    -webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
    -ms-transition: opacity 1s ease, -ms-transform 1s ease;
    transition: opacity 1s ease, transform 1s ease;
    -moz-transform: translateX(0) translateY(0);
    -webkit-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1; }
  @media screen and (max-width: 1280px) {
    #wrapper {
      padding: 4.5em 4em 2.5em 4em ; } }
  @media screen and (max-width: 980px) {
    #wrapper {
      padding: 4em 4em 2em 4em ; }
      #wrapper .advancedSwitch {
        width: 75% !important; } }
  @media screen and (max-width: 980px) and (orientation: portrait) {
    #wrapper .inner {
      max-width: 28em; }
    #wrapper .shell {
      width: 55vw !important; } }

  @media screen and (max-width: 736px) {
    #wrapper {
      padding: 3em 3em 1em 3em ;
      -moz-justify-content: -moz-flex-start;
      -webkit-justify-content: -webkit-flex-start;
      -ms-justify-content: -ms-flex-start;
      justify-content: flex-start; }
      #wrapper .shell {
        text-align: left !important;
        width: 77vw !important; }
      #wrapper footer ul {
        margin: 0 0 2em 0; } }
  @media screen and (max-width: 480px) {
    #wrapper {
      padding: 3em 2em 1em 2em ; }
      #wrapper .advancedSwitch {
        margin: 0 auto;
        min-width: 10em; }
      #wrapper .shell {
        width: 88vw !important; } }
  @media screen and (max-width: 360px) {
    #wrapper {
      padding: 2em 1.5em 0.1em 1.5em ; } }
  @media screen and (orientation: portrait) {
    #wrapper {
      -moz-align-items: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      text-align: center;
      width: 100%; }
      #wrapper .inner {
        width: 100%; }
      #wrapper hr {
        width: 100% !important; }
      #wrapper footer {
        margin: 0.5em 0 0 0; }
        #wrapper footer ul {
          margin: 0 0 2em 0; } }
  body.is-loading #wrapper > * {
    -moz-transform: translateX(0.5em);
    -webkit-transform: translateX(0.5em);
    -ms-transform: translateX(0.5em);
    transform: translateX(0.5em);
    opacity: 0; }
  @media screen and (orientation: portrait) {
    body.is-loading #wrapper > * {
      -moz-transform: translateY(0.5em);
      -webkit-transform: translateY(0.5em);
      -ms-transform: translateY(0.5em);
      transform: translateY(0.5em); } }

/* Banner */
#banner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background: #f7f7f7;
  overflow: hidden;
  width: 30vw; }
  @media screen and (orientation: portrait) {
    #banner {
      display: none !important; } }

/* Footer */
#footer {
  position: fixed;
  bottom: 0;
  right: 0; }

/*# sourceMappingURL=main.css.map */
