///
/// Split Screen by HTML5 UP
/// html5up.net | @n33co
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Banner */

	#banner {
		@include vendor('display', 'flex');
		@include vendor('align-items', 'center');
		@include vendor('justify-content', 'center');
		background: _palette(bg-alt);
		overflow: hidden;
		width: 30vw;

		@include orientation(portrait) {
			display: none !important;
		}
	}
