///
/// Split Screen by HTML5 UP
/// html5up.net | @n33co
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Footer */

	#footer {
		position: fixed;
		bottom: 0;
		right: 0;
	}
