///
/// Split Screen by HTML5 UP
/// html5up.net | @n33co
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Wrapper */

	#wrapper {
		@include padding(3em, 4em);
		@include vendor('display', 'flex');
		@include vendor('flex-direction', 'column');
		@include vendor('justify-content', 'space-between');
		width: 70vw;

		.inner {
			max-width: 60em;

			h1 .logo {
				height: 0.65em;
				vertical-align: baseline;
			}

			.advancedSwitch {
				@include vendor('transition', (
					'color #{_duration(transition)} ease-in-out',
					'border-bottom-color #{_duration(transition)} ease-in-out'
				));
				width: 50%;
				font-weight: bold;
				color: _palette(fg-light);
				cursor: pointer;

				&:hover {
					@include vendor('transition', (
						'color #{_duration(transition)} ease-in-out',
						'border-bottom-color #{_duration(transition)} ease-in-out'
					));
					color: _palette(fg-bold);
				}
			}

			.advanceArrow {
				line-height: 1.5em;
				float: right !important;
			}

			.shell {
				background-color: _palette(fg);
				border-radius: 4px;
				margin-top: 2em;
				padding: 0 1.5em;
				font-size: 0.8em;
				overflow-wrap: anywhere;
				color: white;
				font-family: _font(family-fixed);
				height: 20em;
				max-height: 20em !important;
				width: 55vw;
				overflow: scroll;

				strong {
					font-weight: _font(weight-extrabold);
					color: _palette(bg-alt);
				}
			}

			.hide {
				display: none !important;
			}

			.show {
				display: block !important;
			}
		}

		footer {
			padding-bottom: 2em;
			color: _palette(fg-light);

			ul {
				margin: 0;
			}
		}

		> * {
			@include vendor('transition', (
				'opacity #{_duration(load)} ease',
				'transform #{_duration(load)} ease'
			));
			@include vendor('transform', 'translateX(0) translateY(0)');
			opacity: 1;
		}

		@include breakpoint(large) {
			@include padding(4.5em, 4em);
		}

		@include breakpoint(medium) {
			@include padding(4em, 4em);

			.advancedSwitch {
				width: 75% !important;
			}

			@include orientation(portrait) {
				.inner {
					max-width: 28em;
				}
				
				.shell {
					width: 55vw !important;
				}
			}
		}

		@include breakpoint(small) {
			@include padding(3em, 3em);
			@include vendor('justify-content', 'flex-start');

			.shell {
				text-align: left !important;
				width: 77vw !important;
			}

			footer {
				ul {
					margin: 0 0 _size(element-margin) 0;
				}
			}
		}

		@include breakpoint(xsmall) {
			@include padding(3em, 2em);

			.advancedSwitch {
				margin: 0 auto;
				min-width: 10em;
			}

			.shell {
				width: 88vw !important;
			}
		}

		@include breakpoint(xxsmall) {
			@include padding(2em, 1.5em);
		}

		@include orientation(portrait) {
			@include vendor('align-items', 'center');
			text-align: center;
			width: 100%;

			.inner {
				width: 100%;
			}

			hr {
				width: 100% !important;
			}

			footer {
				margin: (_size(element-margin) * 0.25) 0 0 0;

				ul {
					margin: 0 0 _size(element-margin) 0;
				}
			}
		}

		body.is-loading & {
			> * {
				@include vendor('transform', 'translateX(0.5em)');
				opacity: 0;
			}

			@include orientation(portrait) {
				> * {
					@include vendor('transform', 'translateY(0.5em)');
				}
			}
		}
	}
